@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(34, 32, 32);
  color: #fefdfd;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
  
}